<h2>What are you hungry for?</h2>

<section id="search-field">
  <%= form_tag(recipes_path, method: :get) do %>
  <%= text_field_tag :search_term %>
  <%= submit_tag 'Search' %>
  <% end %>
</section>
