<h2>Here's some recipes for (search term)</h2>

<section id="list-recipe-results">
  <% @recipes.each do | recipe | %>
    <section class="recipe-block">
      <%= image_tag recipe.image %>
      <%= link_to recipe.name, recipe.uri %>
      <p> source: <%= recipe.recipe_source %></p>
    </section>
  <% end %>
</section>
