<h2>Here's some recipes for (search term)</h2>

<section id="list-recipe-results">
  <% @recipes.each do | recipe | %>
    <section class="recipe-block">
      (recipe image)
      <%= recipe %>
    </section>
  <% end %>
</section>
