<section id="search-title">
  <h2>Here&rsquo;s some recipes that match <span class="recipe-search">&ldquo;<%= params[:search] %>&rdquo;</span></h2>
</section>

<div class="row">
<section id="list-recipe-results">
  <% @recipes.each do | recipe | %>
    <section class="recipe-block small-12 medium-3 columns">
      <%= image_tag recipe.image %>
      <section class="recipe-name">
        <h5><%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %></h5>
      </section>
    </section>
  <% end %>
</section>
</div>
<section id="pagination">
<%= will_paginate @recipes, class: "row" %>
</section>
