<section id="page-header">
  <h2>Here's some (search term) recipes</h2>
</section>

<section id="list-recipe-results">
  <% @recipes.each do | recipe | %>
    <section class="recipe-block">
      <%= image_tag recipe.image %>
      <%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %>
    </section>
  <% end %>
</section>

<%= will_paginate @recipes, class: "row" %>
<section id="pagination">
</section>
