/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 /* GLOBAL STYLING SETUP
 ************************/

@import url('https://fonts.googleapis.com/css?family=Neuton:200,400,400i,700');

 body {
   background: #F5F5F5;
   padding: 40px;
 }

 h1, h2, h3 {
   color: #404040;
   font-family: 'Neuton', serif;
 }

 h1 {
   font-size: 5em;
 }

 h1 i {
   color: gold;
 }

 a {
   color: #404040;
 }

 a:hover {
   color: #404040;
   border-bottom: 2px solid gold;
 }

 img {
    width: 100%;
  }

 .button {
   font-family: 'Neuton', serif;
   border: 2px solid gold;
   background-color: gold;
   color: white;
   border-radius: 500px;
   text-transform: uppercase;
   letter-spacing: .2em;
 }

 .button:hover {
   background-color: white;
   color: gold;
 }

 footer {
   text-align: center;
 }

 #pagination a {
   font-family: sans-serif;
   border-radius: 500px;
   padding: 10px;
   margin: 10px;
 }

 /* HOMEPAGE STYLING
 ************************/
 #search {
   align-content: center;
 }

 #search .search-field {
   box-shadow: none;
   border: none;
   border-bottom: 2px solid gold;
   padding: 0px;
   background: none;
   font-size: 3em;
 }


 /* RECIPES_PATH STYLING
 ************************/

 .recipe-block {
   height: 400px;
   padding: 20px, 20px, 15px, 20px;
 }

 .recipe-block .recipe-name {
   background: white;
   height: 100px;
 }

 .recipe-block h5 {
   text-align: center;
 }

 .recipe-search {
   font-style: italic;
   font-weight: 400;
 }

 /* RECIPE_PATH STYLING
 ************************/

 #recipe-details {
   background: white;
   padding: 40px;
 }

 #recipe-details img {
   margin-bottom: 20px;
 }

 #recipe-title, #search-title {
   border-bottom: 2px solid gold;
   margin-bottom: 20px;
 }

 #recipe-title h3, #search-title h3 {
   -webkit-margin-before: 0em;
 }

 /*img {
    padding-bottom: 15px;
  }*/
