// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* GLOBAL STYLING SETUP
************************/

body {
  background: #F5F5F5;
  padding: 40px;
}

/* HOMEPAGE STYLING
************************/
.search-field {
  border-radius: 500px, 0 0 500px;
}

/* RECIPES_PATH STYLING
************************/

.recipe-block {
  background: white;
  height: 330px;
  margin-bottom: 15px;
}

.recipe-block img {
  padding-bottom: 15px;
}

.recipe-block p {
  text-align: center;
}

/* RECIPE_PATH STYLING
************************/

#recipe-details {
  background: white;
}
