// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #F5F5F5;
  padding: 80px;
}

.recipe-block {
  background: white;
  height: 380px;
  margin-bottom: 15px;
}

#recipe-details {
  background: white;
}
